<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <style>
        
    </style>
</head>

<body>
    <div class="onlyfooter">
        <footer class="d-flex flex-wrap py-4 border-top">
            <div class="footer1 col-md-4 d-md-inline-flex align-items-center align-items-end">
                <span class="mb-3 ms-5 mb-md-0 text-body-secondary">© 2024 Check UV, Inc</span>
            </div>
            <div class="footer2 col-md-4 w-95 d-md-inline-flex justify-content-end">
                <a href="https://x.com/kumaratul2004?t=hOlukDTTlkVcvA5WGQ4EHA&s=09"><img class="me-3"
                        src="/styles/icons8-twitter.svg" height="30" alt=""></a>
                <a href="https://www.facebook.com/profile.php?id=100093514998705&mibextid=ZbWKwL"><img class="me-3"
                        src="/styles/icons8-facebook.svg" height="30" alt=""></a>
                <a href="https://www.instagram.com/atulkumar7131?igsh=cmRqaWluczl5N2ww"><img class="me-3"
                        src="/styles/icons8-instagram.svg" height="30" alt=""></a>
            </div>
        </footer>
    </div>
</body>

</html>